<section>
    <div class="overflow-x-hidden relative">
        <div class="flex custom-transition" id="slideContainer">
            <div class="w-[100vw] flex0 h-[90vh] bg-center bg-no-repeat bg-cover dark:shadow-inner dark:shadow-slate-700" style="background-image: url('./images/green-area.png');">
                <div class="w-full h-full flex justify-center items-center">
                    <div class="text-center px-7 text-slate-100 md:max-w-2xl space-y-4">
                        <h1 class="text-4xl font-bold raleway text-[#FFBF00]">Escape to nature's embrace in the lush green areas of Pakistan.</h1>
                        <p class="text-lg tracking-widest leading-snug">At Vegabond, we celebrate the natural wonders of Pakistan. Explore the serene green landscapes that make this country a paradise for nature lovers and adventure seekers alike.</p>
                    </div>
                </div>
            </div>
            <div class="w-[100vw] flex0 h-[90vh] bg-center bg-no-repeat bg-cover dark:shadow-inner dark:shadow-slate-700" style="background-image: url('./images/faisal-mosque.png');">
                <div class="w-full h-full flex justify-center items-center">
                    <div class="text-center px-7 text-slate-100 md:max-w-2xl space-y-4">
                        <h1 class="text-4xl font-bold raleway text-[#FFBF00]">Reach new heights of wonder at the Faisal Mosque.</h1>
                        <p class="text-lg tracking-widest leading-snug">Welcome to Vagabond, where we elevate your travel experience. Join us in discovering the breathtaking landscapes and architectural wonders, such as the iconic Faisal Mosque.</p>
                    </div>
                </div>
            </div>
            <div class="w-[100vw] flex0 h-[90vh] bg-center bg-no-repeat bg-cover dark:shadow-inner dark:shadow-slate-700" style="background-image: url('./images/badshahi-mosque.png');">
                <div class="w-full h-full flex justify-center items-center">
                    <div class="text-center px-7 text-slate-100 md:max-w-2xl space-y-4">
                        <h1 class="text-4xl font-bold raleway text-[#FFBF00]">Step into serenity at the majestic Badshahi Mosque.</h1>
                        <p class="text-lg tracking-widest leading-snug">Immerse yourself in the spiritual and architectural marvels of Pakistan. Vegabond is your guide to experiencing the timeless beauty of places like the Badshahi Mosque.</p>
                    </div>
                </div>
            </div>
            <div class="w-[100vw] flex0 h-[90vh] bg-center bg-no-repeat bg-cover dark:shadow-inner dark:shadow-slate-700" style="background-image: url('./images/minar-e-pakistan.png');">
                <div class="w-full h-full flex justify-center items-center">
                    <div class="text-center px-7 text-slate-100 md:max-w-2xl space-y-4">
                        <h1 class="text-4xl font-bold raleway text-[#FFBF00]">Stand tall with history at the base of Minar-e-Pakistan.</h1>
                        <p class="text-lg tracking-widest leading-snug">At [Your Website Name], we're dedicated to showcasing the monumental beauty of Pakistan. Join us on a virtual voyage and witness the significance of landmarks like Minar-e-Pakistan.</p>
                    </div>
                </div>
            </div>
            <div class="w-[100vw] flex0 h-[90vh] bg-center bg-no-repeat bg-cover dark:shadow-inner dark:shadow-slate-700" style="background-image: url('./images/quide-tomb.png');">
                <div class="w-full h-full flex justify-center items-center">
                    <div class="text-center px-7 text-slate-100 md:max-w-2xl space-y-4">
                        <h1 class="text-4xl font-bold raleway text-[#FFBF00]">Discover the legacy of the Father of the Nation at Quaid-e-Azam's Mausoleum.</h1>
                        <p class="text-lg tracking-widest leading-snug">Welcome to Vegabond, where we invite you to explore the rich history and cultural treasures of Pakistan. Embark on a journey through iconic landmarks that shaped the nation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>